@import 'assets/scss/variables.scss';
@import 'assets/scss/init-style.scss';

@import 'assets/scss/overwrites/_button.scss';
@import 'assets/scss/overwrites/_chips.scss';
@import 'assets/scss/overwrites/_dialog.scss';
@import 'assets/scss/overwrites/_form.scss';
@import 'assets/scss/overwrites/_grid.scss';
@import 'assets/scss/overwrites/_tab.scss';
@import 'assets/scss/overwrites/_tooltip.scss';
