/* COLORS */
$white: #ffffff;
$black: #000000;
$background: #282828;
$header-background: #303030;
$background-facebook: #4267B2;
$background-facebook-hover:  #2d467b;

$button-primary: #29BF44;

$logo-yellow: #D3D94B;
$logo-green: #29BF44;
$logo-pink: #C132C0;
$logo-red: #DF1D43;
$logo-blue: #005DD6;

$logo-gray: #5d5d5d;
$logo-dark-gray: #444444;

$rating-1: #502B2C;
$rating-2: #CF6366;
$rating-3: #B193B7;
$rating-4: #F4C27B;
$rating-5: #85BDB6;
$rating-6: #5D8EBA;
$rating-7: #7EBB6F;

$color-serie: #F86C2F;
$color-movie: #01C05D;

$invalid-color: #F44336;

$lightest-gray: #F1F4F5;
$lighter-gray: #E6EAEC;
$light-gray: #E4E4E4;
$gray: #cdd3d8;
$dark-gray: #75818b;
$darker-gray: #6A6C66;
$darkest-gray: #333333;
$darkest-gray-border: #1d1d1d;

$font-default: $darker-gray;

/* WIDTH COLUMNS */
$width-1: 8.333333333%;
$width-2: 16.66666667%;
$width-3: 25%;
$width-4: 33.33333333%;
$width-5: 41.666666666667%;
$width-6: 50%;
$width-7: 58.333333333333%;
$width-8: 66.666666666667%;
$width-9: 75%;
$width-10: 83.333333333333%;
$width-11: 91.666666666667%;
$width-12: 100%;

$width-1-columns: 100%;
$width-2-columns: 50%;
$width-3-columns: 33.33333%;
$width-4-columns: 25%;
$width-5-columns: 20%;
$width-6-columns: 16.666666667%;
$width-7-columns: 14.285714286%;
$width-8-columns: 12.5%;
$width-9-columns: 11.1%;
$width-10-columns: 10%;

/* SIZE */
$size-default: 12px;
$radius-default: 5px;
