<section class="{{utils.getClassBgTheme((userLogged$ | async).theme)}}" *ngIf="(userLogged$ | async)">
  <div class="container-detail padding-2 flex-row flex-wrap padding-left-none padding-right-none">
    <div class="flex-row col-md-6 col-sm-12">
      <div class="profile-image bd-{{(userLogged$ | async).theme}} margin-right-1">
        <img src="{{(userLogged$ | async).avatar}}">
      </div>
      <div class="detail flex-column">
        <div class="flex-column margin-bottom-05">
          <span class="title-profile-detail">{{(userLogged$ | async).name}}</span>
          <span></span>
        </div>
        <div class="flex-column margin-bottom-05">
          <span class="subtitle-profile-detail">Membro desde {{formatDate((userLogged$ | async).created_at | date: 'mediumDate')}}</span>
        </div>
      </div>
    </div>
    <div class="flex-row col-md-6 col-sm-12 container-statistic">
        <div class="flex-column col-md-6 detail-statistic">
            <span>43</span>
            <span>Assistir depois</span>
        </div>
        <div class="flex-column col-md-6 detail-statistic">
            <span>13</span>
            <span>Indicações</span>
        </div>
        <div class="flex-column col-md-6 detail-statistic">
            <span>0</span>
            <span>Seguindo</span>
        </div>
        <div class="flex-column col-md-6 detail-statistic">
            <span>0</span>
            <span>Seguidores</span>
        </div>

    </div>
  </div>
</section>
<main class="main" *ngIf="(userLogged$ | async)">
  <mat-tab-group class="tab-profile" animationDuration="0ms" [selectedIndex]="tabActive"
    [ngClass]="{'YELLOW': (userLogged$ | async).theme === 'YELLOW',
                'GREEN': (userLogged$ | async).theme === 'GREEN',
                'PINK': (userLogged$ | async).theme === 'PINK',
                'RED': (userLogged$ | async).theme === 'RED',
                'BLUE': (userLogged$ | async).theme === 'BLUE'}">
    <mat-tab label="Conta">
      <div class="flex-row flex-wrap">
        <div class="col-md-6 col-sm-12 column-left">
          <section class="flex-column">
              <h1 class="title-section margin-bottom-none">Acesso e segurança</h1>
              <!-- Name -->
              <div class="item flex-column">
                <div class="flex-row col-md-12 header-icon">
                  <span class="title-item col-md-11">Nome</span>
                  <span class="action-item col-md-1"><mat-icon (click)="openForm('name')">edit</mat-icon></span>
                </div>
                <span class="subtitle-item">Defina como você quer ser identificado</span>
                <div class="form" [ngClass]="{'active': formOpenned === 'name'}" [ngStyle]="{'max-height': heightForms.name}">
                  <div class="container-name margin-top-1 padding-h-1">
                    <form [formGroup]="formName" (submit)="updateName()" class="flex-column">
                      <mat-form-field appearance="outline" class="col-md-8 col-sm-12 not-label">
                        <input matInput autocomplete="off" formControlName='name' placeholder="Escreva seu nome">
                      </mat-form-field>
                      <button mat-button class="btn-default margin-top-1" type="submit">Atualizar</button>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Email -->
              <div class="item flex-column">
                <div class="flex-row col-md-12 header-icon">
                  <span class="title-item col-md-11">E-mail</span>
                  <span class="action-item col-md-1"><mat-icon (click)="openForm('email')">edit</mat-icon></span>
                </div>
                <span class="subtitle-item">Defina um e-mail para contato caso tenha problemas em sua conta</span>
                <div class="form" [ngClass]="{'active': formOpenned === 'email'}" [ngStyle]="{'max-height': heightForms.email}">
                  <div class="container-email">
                    11111<br />11111
                  </div>
                </div>
              </div>
              <!-- Avatar -->
              <div class="item flex-column">
                <div class="flex-row col-md-12 header-icon">
                  <span class="title-item col-md-11">Avatar</span>
                  <span class="action-item col-md-1"><mat-icon (click)="openForm('avatar')">edit</mat-icon></span>
                </div>
                <span class="subtitle-item">Escolha um avatar que te represente ou utize uma foto sua</span>
                <div class="form" [ngClass]="{'active': formOpenned === 'avatar'}" [ngStyle]="{'max-height': heightForms.avatar}">
                  <div class="container-avatar margin-top-1 padding-h-1">
                    <form [formGroup]="formAvatar" (submit)="updateAvatar()" class="flex-column" method="post" enctype="multipart/form-data">
                      <div class="profile-image bd-{{(userLogged$ | async).theme}} margin-right-1" *ngIf="lastAvatar">
                        <img id="blah" src="{{lastAvatar}}">
                      </div>
                      <div class="flex-column col-md-12">
                        <label class="inputAvatar flex-row col-md-12" for="inputAvatar" *ngIf="!(fileAvatar.files && fileAvatar.files[0])">
                          <mat-icon class="margin-right-1">cloud_upload</mat-icon> Selecione uma nova imagem
                        </label>
                        <label class="inputAvatar flex-row col-md-12" *ngIf="fileAvatar.files && fileAvatar.files[0]">
                          <mat-icon class="margin-right-1">cloud_upload</mat-icon> {{fileAvatar.files[0].name}} <mat-icon (click)="removeFile()">delete</mat-icon>
                        </label>
                        <input type="file" name="file" id="inputAvatar" class="hidden-input" formControlName='avatar' #fileAvatar (change)="readURL(fileAvatar)" />
                        <div class="container-actions">
                          <button mat-button class="btn-default" type="submit">Atualizar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Theme -->
              <div class="item flex-column">
                <div class="flex-row col-md-12 header-icon">
                  <span class="title-item col-md-11">Tema do seu perfil</span>
                  <span class="action-item col-md-1"><mat-icon (click)="openForm('theme')">edit</mat-icon></span>
                </div>
                <span class="subtitle-item">Escolha uma cor que goste para seu perfil</span>
                <div class="form" [ngClass]="{'active': formOpenned === 'theme'}" [ngStyle]="{'max-height': heightForms.theme}">
                  <div class="container-theme margin-top-1">
                    <div class="flex-row col-md-12 flex-wrap">
                      <button class="btn-theme bg-{{color}}" *ngFor="let color of colorsTheme" (click)='updateTheme(color)'><mat-icon *ngIf="(userLogged$ | async).theme === color">done</mat-icon></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item flex-column">
                <div class="flex-row col-md-12 header-icon">
                  <span class="title-item col-md-11">Alterar senha</span>
                  <span class="action-item col-md-1"><mat-icon (click)="openForm('password')">edit</mat-icon></span>
                </div>
                <span class="subtitle-item">Defina uma senha para proteger sua conta</span>
                <div class="form" [ngClass]="{'active': formOpenned === 'password'}" [ngStyle]="{'max-height': heightForms.password}">
                  <div class="container-password">
                    11111<br />11111
                  </div>
                </div>
              </div>
          </section>
        </div>
        <div class="col-md-6 col-sm-12 column-right">
          <section class="flex-column margin-bottom-2">
              <h1 class="title-section margin-bottom-none">Preferências do site</h1>
              <!-- Language -->
              <div class="item flex-column">
                <div class="flex-row col-md-12 header-icon">
                  <span class="title-item col-md-11">Idioma</span>
                  <span class="action-item col-md-1"><mat-icon (click)="openForm('language')">edit</mat-icon></span>
                </div>
                <span class="subtitle-item">Selecione o idioma que deseja usar</span>
                <div class="form" [ngClass]="{'active': formOpenned === 'language'}" [ngStyle]="{'max-height': heightForms.language}">
                  <div class="container-language">
                    11111<br />11111
                  </div>
                </div>
              </div>
          </section>
          <section class="flex-column">
              <h1 class="title-section margin-bottom-none">Gerenciamento da conta</h1>
              <!-- Social -->
              <div class="item flex-column">
                <div class="flex-row col-md-12 header-icon">
                  <span class="title-item col-md-11">Rede social</span>
                  <span class="action-item col-md-1"><mat-icon (click)="openForm('social')">edit</mat-icon></span>
                </div>
                <span class="subtitle-item">Desvincule sua rede social de sua conta Assiste ai</span>
                <div class="form" [ngClass]="{'active': formOpenned === 'social'}" [ngStyle]="{'max-height': heightForms.social}">
                  <div class="container-social">
                    11111<br />11111
                  </div>
                </div>
              </div>
              <!-- Close Account -->
              <div class="item flex-column">
                <div class="flex-row col-md-12 header-icon">
                  <span class="title-item col-md-11">Encerrar sua conta do Assiste ai</span>
                  <span class="action-item col-md-1"><mat-icon (click)="openForm('account')">edit</mat-icon></span>
                </div>
                <span class="subtitle-item">Encerre sua conta caso deseje</span>
                <div class="form" [ngClass]="{'active': formOpenned === 'account'}" [ngStyle]="{'max-height': heightForms.account}">
                  <div class="container-account">
                    11111<br />11111
                  </div>
                </div>
              </div>
          </section>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Assistir depois">
        <h1 class="title-section">Aaa</h1>
        <h1 class="title-section">Pbbb</h1>
        <h1 class="title-section">ccc</h1>
    </mat-tab>
    <mat-tab label="Indicações">
    </mat-tab>
    <mat-tab label="Seguindo">
    </mat-tab>
    <mat-tab label="Seguidores">
    </mat-tab>
  </mat-tab-group>
</main>
