@import 'assets/scss/variables.scss';

.container-detail {
  margin: 0 auto;
  width: 90%;
  box-sizing: border-box;
  align-items: center;
  color: $white;
  max-width: 1460px;

  .flex-row {
    align-items: center;

    .profile-image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      text-align: center;
      border-width: 4px;
      border-style: solid;
    }

    .detail {
      div {
        label {
          font-size: 13px;

          &.label-theme {
            margin-bottom: 5px;
          }
        }
        span {
          &.title-profile-detail { font-size: 22px; }
          &.subtitle-profile-detail {font-size: 16px; }
        }

        .btn-theme {
          border: 0;
          width: 70px;
          color: $white;
          transition: all .4s ease;
          outline: none;

          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }
    }

    &.container-statistic {
      justify-content: flex-end;

      .detail-statistic {
        align-items: center;
        text-align: center;

        span:first-child {
          font-size: 25px;
          font-weight: $bold
        }
      }
    }
  }
}

.tab-profile {
  .column-left { section:nth-child(1) { padding-right: 20px; } }
  .column-right { section:nth-child(1), section:nth-child(2) { padding-left: 20px; } }

  section {
    color: $white;

    .title-section {
      font-size: 25px;
      color: $darker-gray;
      font-weight: 100;
      padding: 15px 0;
      border-bottom: 1px solid $darkest-gray-border;
    }

    .item {
      border-bottom: 1px solid $darkest-gray-border;
      padding: 20px 0;

      .header-icon {
        margin-bottom: 5px;
        align-items: center;

        .title-item {
          font-size: 17px;
          font-weight: $bold;
          color: $white;
        }

        .action-item {
          text-align: right;
          mat-icon {
            font-size: 17px;
            color: $darkest-gray;
            height: auto;
            width: auto;

            &:hover {
              cursor: pointer;
              color: $white;
            }
          }
        }
      }

      .subtitle-item {
        font-size: 15px;
        color: $gray;
      }

      .form {
        opacity: 0;
        max-height: 0px;
        transition: opacity .8s ease, max-height .8s ease;
        overflow: hidden;

        &.active {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container-detail {
    .flex-row {
      justify-content: center;
      flex-wrap: wrap;

      .detail {
        align-items: center;
      }

      &.container-statistic {
        margin-top: 20px;

        .detail-statistic:nth-child(1), .detail-statistic:nth-child(2) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .tab-profile {
    .column-left { section:nth-child(1) { padding-right: 0px; } }
    .column-right { section:nth-child(1), section:nth-child(2) { padding-left: 0px; } }
  }
}
