<section class="{{utils.getClassBgTheme((userLogged$ | async).theme)}}" *ngIf="(userLogged$ | async)">
  <div class="container-detail padding-2 flex-row flex-wrap padding-left-none padding-right-none">
    <div class="flex-row col-md-6 col-sm-12">
      <div class="profile-image bd-{{(userLogged$ | async).theme}} margin-right-1">
        <img src="{{(userLogged$ | async).avatar}}">
      </div>
      <div class="detail flex-column">
        <div class="flex-column margin-bottom-05">
          <span class="title-profile-detail">{{(userLogged$ | async).name}}</span>
          <span></span>
        </div>
        <div class="flex-column margin-bottom-05">
          <span class="subtitle-profile-detail">Membro desde {{formatDate((userLogged$ | async).created_at | date: 'mediumDate')}}</span>
        </div>
      </div>
    </div>
    <div class="flex-row col-md-6 col-sm-12 container-statistic">
        <div class="flex-column col-md-6 detail-statistic">
            <span>43</span>
            <span>Assistir depois</span>
        </div>
        <div class="flex-column col-md-6 detail-statistic">
            <span>13</span>
            <span>Indicações</span>
        </div>
        <div class="flex-column col-md-6 detail-statistic">
            <span>0</span>
            <span>Seguindo</span>
        </div>
        <div class="flex-column col-md-6 detail-statistic">
            <span>0</span>
            <span>Seguidores</span>
        </div>

    </div>
  </div>
</section>
<main class="main">
  <mat-tab-group class="tab-login" animationDuration="1500ms" [selectedIndex]="tabActive">
    <mat-tab label="Perfil">
    </mat-tab>
    <mat-tab label="Assistir depois">
    </mat-tab>
    <mat-tab label="Indicações">
    </mat-tab>
    <mat-tab label="Seguindo">
    </mat-tab>
    <mat-tab label="Seguidores">
    </mat-tab>
  </mat-tab-group>
</main>
