<header>
  <div class="header">
    <div class="header-logo">
      <img src="assets/img/logo.svg" />
    </div>
    <div class="header-settings">
      <div class="profile-image bd-{{(userLogged$ | async).theme}}" *ngIf="(userLogged$ | async)" (click)='logout()'>
        <img src="{{(userLogged$ | async).avatar}}">
      </div>
      <div class="signIn-container" *ngIf="!(userLogged$ | async)">
        <span (click)="openDialog(0)">Entrar</span> ou <span (click)="openDialog(1)">Cadastrar</span>
      </div>
    </div>
  </div>
</header>
