<header>
  <div class="header">
    <div class="header-logo">
      <a [routerLink]="['']"><img src="assets/img/logo.svg" /></a>
    </div>
    <div class="header-settings">
      <ng-container *ngIf="(userLogged$ | async)">
        <span class="title-user">{{(userLogged$ | async).name}}</span>
        <div class="profile-image bd-{{(userLogged$ | async).theme}}" [matMenuTriggerFor]="menuPerfil">
          <img src="{{(userLogged$ | async).avatar}}">
        </div>
        <mat-menu #menuPerfil="matMenu" xPosition="before" class="{{utils.getClassBgTheme((userLogged$ | async).theme)}}">
          <button mat-menu-item [routerLink]="['/profile']"><mat-icon>person_outline</mat-icon> Perfil</button>
          <button mat-menu-item><mat-icon>access_time</mat-icon> Asssitir depois</button>
          <button mat-menu-item><mat-icon>list</mat-icon> Minhas indicações</button>
          <button mat-menu-item (click)='logout()'><mat-icon>close</mat-icon> Sair</button>
        </mat-menu>
      </ng-container>

      <div class="signIn-container" *ngIf="!(userLogged$ | async)">
        <span (click)="openDialog(0)">Entrar</span> ou <span (click)="openDialog(1)">Cadastrar</span>
      </div>
    </div>
  </div>
</header>
