@import 'assets/scss/variables.scss';

header {
  padding: 10px 0;
  background: $header-background;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;

    .header-logo {
      img {
        height: 34px;
      }
    }

    .header-settings {
      display: flex;
      align-items: center;

      .title-user {
        margin-right: 10px;
        color: $lightest-gray;
        font-size: 15px;
      }

      .signIn-container {
        font-size: 14px;
        span {
          display: inline-block;
          color: $lightest-gray;
          cursor: pointer;

          &:first-child { margin-right: 7px; }
          &:last-child { margin-left: 7px; }

          &:hover {
            color: $logo-yellow;
          }
        }
      }

      .profile-image {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        text-align: center;
        border-width: 3px;
        border-style: solid;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
          transform: scale(0.95, 0.95);
        }
      }

      mat-icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 1460px) {
  header {
    .header {
      max-width: 1460px;
    }
  }
}

