@import 'assets/scss/variables.scss';

header {
  padding: 10px 0;
  background: $header-background;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;

    img {
      height: 29px;
    }

    .header-settings {
      display: flex;
      align-items: center;

      .signIn-container {
        font-size: 14px;
        span {
          display: inline-block;
          color: $lightest-gray;
          cursor: pointer;

          &:first-child { margin-right: 7px; }
          &:last-child { margin-left: 7px; }

          &:hover {
            color: $logo-yellow;
          }
        }
      }

      .profile-image {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        text-align: center;
        border: 3px solid #005DD6;

        img {
          height: 100%;
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }

      mat-icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 1460px) {
  header {
    .header {
      max-width: 1460px;
    }
  }
}

