.btn {
  border: 0;
  border-radius: $radius-default;
  padding: 5px;
  outline: none;
  cursor: pointer;
}

.btn-default {
  background-color: $button-primary;
  color: $white;
}

.btn-facebook {
  padding: 7px;
  background-color: $background-facebook;
  color: $white;
  font-size: 15px;
  transition: all .3s ease-in-out;

  &:hover {
    background: $background-facebook-hover
  }
}
