@import 'assets/scss/variables.scss';

.title-modal {
  width: 100%;
  color: $lighter-gray;
  padding-bottom: 20px;
  border-bottom: 1px solid $darkest-gray-border
}

@media (max-width: 480px) {
  .container {
    .flex-row {
      flex-direction: column;

      mat-form-field {
        margin-right: 0 !important;
      }
    }
  }
}
