@import 'assets/scss/variables.scss';

.main {
  .filter-container {
    position: relative;
    margin-bottom: 20px;

    .filter-icons {
      align-items: center;

      .filters {
        align-items: center;
        justify-content: space-between;

        .icon {
          &:hover, &.active { color: $logo-blue; }

          &.filter-icon {
            padding: 5px 10px;

            &:hover {
              color: $white;
            }

            &.active {
              color: $white;
            }
          }
        }
      }
    }

    .filter-options {

      justify-content: space-between;

      .chip-default {
        &.active {
          color: $white;

          &.imperdivel { background: $rating-7 }
          &.mt-bom { background: $rating-6 }
          &.bom { background: $rating-5 }
          &.legal { background: $rating-4 }
          &.ruinzinho { background: $rating-3 }
          &.mt-ruim { background: $rating-2 }
          &.fq-longe { background: $rating-1 }

          &.movie{ background: $color-movie }
          &.serie { background: $color-serie }
        }
      }
    }
  }
  .cards-container {
    width: 100%;

    .card {
      position: relative;
      box-sizing: border-box;
      margin: 15px;
      padding: 5px;
      border-radius: $radius-default;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);

      .poster-container {
        position: relative;
        overflow: hidden;
        border-radius: $radius-default;

        &:hover {
          .img-poster {
            transform: scale(1.1, 1.1);
            -ms-transform: scale(1.1, 1.1);
            -webkit-transform: scale(1.1, 1.1);
          }
        }

        .overlay {
          position: absolute;
          z-index: 1;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: $radius-default;
          color: #ffffff;
          text-decoration: none;
          transition: opacity .4s ease-in-out;
          opacity: 0;
          background-image: radial-gradient(circle, rgba(0,0,0,0.55),rgba(0,0,0,0.75),rgba(0,0,0,0.95));

          &:hover {
            opacity: 1;
          }

          .poster-detail {
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            height: 100%;
            box-sizing: border-box;

            .poster-title {
              text-align: center;
            }

            .poster-chip {
              padding: 3px 6px;
              border-radius: $radius-default;
            }

            .rating-container {
              text-align: center;

              .poster-chip {
                display: block;

                &:nth-child(2) {
                  margin-bottom: 10px;
                }

              }
            }

            .poster-actions {
              justify-content: space-around;
              width: 100%;

              a {
                color: $white;

                &:hover {
                  &.watch-later { color: $logo-pink; }
                  &.indicate-now { color: $logo-green; }
                  &.more-details{ color: $logo-blue; }
                }
              }
            }
          }
        }

        .img-poster {
          border: 0;
          position: relative;
          border-radius: $radius-default;
          width: 100%;
          vertical-align: middle;
          transition: all .4s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .cards-container .card {
    flex: 1 0 $width-1-columns;
    max-width: calc(#{$width-1-columns} - 30px);
  }
}
@media (min-width: 600px) {
  .cards-container .card {
    flex: 1 0 $width-3-columns;
    max-width: calc(#{$width-3-columns} - 30px);
  }
}
@media (min-width: 930px) {
  .cards-container .card {
    flex: 1 0 $width-4-columns;
    max-width: calc(#{$width-4-columns} - 30px);
  }
}
@media (min-width: 1250px) {
  .cards-container .card {
    flex: 1 0 $width-5-columns;
    max-width: calc(#{$width-5-columns} - 30px);
  }
}
@media (min-width: 1460px) {
  .cards-container .card {
    flex: 1 0 $width-6-columns;
    max-width: calc(#{$width-6-columns} - 30px);
  }
}
