<main class="main">
  <section class="filter-container flex-column">
    <div class="flex-row filter-icons col-md-12">
      <mat-form-field appearance="outline" class="col-md-3 col-sm-12 margin-right-2">
        <mat-label>Busca</mat-label>
        <input matInput autocomplete="off" (keyup)="updateList()">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <div class="flex-row col-md-9 col-sm-12 filters">
        <div class="icon-filters-container flex-row col-md-6">
          <mat-icon class="icon margin-right-1" matTooltip="Todos" [ngClass]="{'active': filters.exibition === 'all'}" (click)="setExibition('all')">public</mat-icon>
          <mat-icon class="icon margin-right-1" matTooltip="Seguindo" [ngClass]="{'active': filters.exibition === 'group'}" (click)="setExibition('group')">group</mat-icon>
          <span class="divider margin-right-1"></span>
          <mat-icon class="icon filter-icon" matTooltip="Filtro" [ngClass]="{'active': filterOpened}" (click)="filterOpened = !filterOpened">filter_list</mat-icon>
        </div>
        <button mat-button class="btn-default"  matTooltip="Indicar" (click)="openDialog()">
            <mat-icon class="icon filter-icon">playlist_add</mat-icon>
        </button>
      </div>
    </div>

    <div class="margin-top-2" *ngIf="filterOpened">
      <div class="flex-row filter-options">
        <div class="form-group margin-right-2">
            <mat-chip-list>
              <mat-chip *ngFor="let rating of ratingArray" class="chip-default {{rating}}" [ngClass]="{'active': isRatingActive(rating)}" (click)='updateRatingFilter(rating)'>
                {{rantingEnum[rating]}}
              </mat-chip>
            </mat-chip-list>
        </div>
        <span class="divider margin-right-2"></span>
        <div class="form-group">
            <mat-chip-list>
              <mat-chip *ngFor="let type of typeArray" class="chip-default {{type}}" [ngClass]="{'active': isTypeActive(type)}" (click)='updateTypeFilter(type)'>
                {{typeEnum[type]}}
              </mat-chip>
            </mat-chip-list>
        </div>
      </div>
    </div>
  </section>

  <section class="cards-container flex-row flex-wrap" [@listStagger]='moviesList?.length'>
    <div class="card {{getClassPoster(movie.average_rating)}}" *ngFor="let movie of moviesList">
      <div class="poster-container">
        <div class="img-poster" [ngStyle]="{'background-image': 'url(' + movie.poster_path + ')'}"></div>
        <div class="overlay">
          <div class="poster-detail flex-column">
            <h3 class="poster-title">{{movie.original_title}}</h3>

            <span class="poster-chip {{getClassType(movie.category)}}">{{typeEnum[movie.category]}}</span>

            <div class="rating-container flex-column">
              <span>Avaliação Média</span>
              <span class="poster-chip {{getClassPoster(movie.average_rating)}}">{{rantingEnum[movie.average_rating]}}</span>

              <span>Última avaliação</span>
              <span class="poster-chip {{getClassPoster(movie.last_rating)}}">{{rantingEnum[movie.last_rating]}}</span>
            </div>

            <div class="poster-actions flex-row">
                <a [routerLink]="" matTooltip="Assistir depois" class="watch-later"><mat-icon>access_time</mat-icon></a>
                <a [routerLink]="" (click)="openDialog(movie.urlIndication)" matTooltip="Indicar {{typeEnum[movie.type]}}" class="indicate-now"><mat-icon>playlist_add</mat-icon></a>
                <a href="#" matTooltip="Mais informações" class="more-details"><mat-icon>arrow_forward</mat-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-loading *ngIf="!isLoaded"></app-loading>
    <button class="scroll-btn" [ngClass]="{'active': scollTopActive}" (click)="scollTop()"><mat-icon>arrow_upward</mat-icon></button>
  </section>
</main>
